!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Hi #{@user.full_name}
    %p
      You cv is recevied. But your candidacy is not fully qualified for this job.
      %br
      %br
      Best regards, #{@company.name}!